In [1]:
import pandas as pd
foodsheet = pd.read_csv("/Users/IFE/Downloads/Food.csv")
print(foodsheet)

       Area Code      Area  Item Code           Item  Element Code  \
0              4   Algeria       2501     Population           511
1              4   Algeria       2501     Population          5301
2              4   Algeria       2901    Grand Total           664
3              4   Algeria       2901    Grand Total           674
4              4   Algeria       2901    Grand Total           684
...          ...       ...        ...            ...           ...
60938        181  Zimbabwe       2899  Miscellaneous          5142
60939        181  Zimbabwe       2899  Miscellaneous           645
60940        181  Zimbabwe       2899  Miscellaneous           664
60941        181  Zimbabwe       2899  Miscellaneous           674
60942        181  Zimbabwe       2899  Miscellaneous           684

                                      Element             Unit     Y2014  \
0               Total Population - Both sexes     1000 persons  38924.00
1                    Domestic supply quantity      1000 tonnes      0.00
2               Food supply (kcal/capita/day)  kcal/capita/day   3377.00
3      Protein supply quantity (g/capita/day)     g/capita/day     94.90
4          Fat supply quantity (g/capita/day)     g/capita/day     80.06
...                                       ...              ...       ...
60938                                    Food      1000 tonnes     42.00
60939     Food supply quantity (kg/capita/yr)               kg      3.06
60940           Food supply (kcal/capita/day)  kcal/capita/day      3.00
60941  Protein supply quantity (g/capita/day)     g/capita/day      0.10
60942      Fat supply quantity (g/capita/day)     g/capita/day      0.04

          Y2015     Y2016     Y2017     Y2018
0      39728.00  40551.00  41389.00  42228.00
1          0.00      0.00      0.00      0.00
2       3379.00   3372.00   3341.00   3322.00
3         94.35     94.72     92.82     91.83
4         79.36     77.40     80.19     77.28
...         ...       ...       ...       ...
60938     46.00     33.00     19.00     16.00
60939      3.33      2.35      1.33      1.08
60940      4.00      3.00      1.00      1.00
60941      0.11      0.08      0.04      0.04
60942      0.05      0.03      0.02      0.01

[60943 rows x 12 columns]

In [5]:
food_animalfats = foodsheet[foodsheet['Item'] == 'Animal fats']
food_animalfats[['Y2014', 'Y2017']].sum()

Y2014    209460.54
Y2017    269617.53
dtype: float64

In [12]:
foodsheet[['Y2015']].mean()

Y2015    135.235966
dtype: float64

In [9]:
foodsheet[['Y2015']].std()

Y2015    1603.403984
dtype: float64

In [14]:
foodsheet[['Y2015']].isnull().sum()

Y2015    1548
dtype: int64

In [17]:
print(foodsheet['Element Code'].corr(foodsheet['Y2014']))
print(foodsheet['Element Code'].corr(foodsheet['Y2015']))
print(foodsheet['Element Code'].corr(foodsheet['Y2016']))
print(foodsheet['Element Code'].corr(foodsheet['Y2017']))

0.024456819495221733
0.02388919930163992
0.023443997584961344
0.02425400776004579

In [20]:
food_import = foodsheet[foodsheet['Element'] == 'Import Quantity']
food_import[['Y2014', 'Y2015', 'Y2016', 'Y2017']].sum()

Y2014    274144.48
Y2015    267018.46
Y2016    286582.78
Y2017    294559.09
dtype: float64

In [23]:
food_import = foodsheet[foodsheet['Element'] == 'Production']
food_import[['Y2014']].sum()

Y2014    1931287.75
dtype: float64

In [27]:
food_element_2018 = foodsheet[['Element', 'Y2018']]
print(food_element_2018)

                                      Element     Y2018
0               Total Population - Both sexes  42228.00
1                    Domestic supply quantity      0.00
2               Food supply (kcal/capita/day)   3322.00
3      Protein supply quantity (g/capita/day)     91.83
4          Fat supply quantity (g/capita/day)     77.28
...                                       ...       ...
60938                                    Food     16.00
60939     Food supply quantity (kg/capita/yr)      1.08
60940           Food supply (kcal/capita/day)      1.00
60941  Protein supply quantity (g/capita/day)      0.04
60942      Fat supply quantity (g/capita/day)      0.01

[60943 rows x 2 columns]

In [31]:
food_element_2018.groupby(['Element']).sum()

                                             Y2018
Element
Domestic supply quantity                2161192.10
Export Quantity                          181594.80
Fat supply quantity (g/capita/day)        10258.69
Feed                                     233489.68
Food                                    1303841.28
Food supply (kcal/capita/day)            455261.00
Food supply quantity (kg/capita/yr)       49056.85
Import Quantity                          287997.09
Losses                                   163902.00
Other uses (non-food)                     91300.97
Processing                               308429.00
Production                              2075072.89
Protein supply quantity (g/capita/day)    11833.56
Residuals                                 34864.00
Seed                                      25263.14
Stock Variation                           20577.91
Total Population - Both sexes           1140605.00
Tourist consumption                          90.00

In [35]:
food_algeria = foodsheet[foodsheet['Area'] == 'Algeria']
food_algeria_2018 = food_algeria[['Element', 'Y2018']]
print(food_algeria_2018)
food_algeria_import_quantity =food_algeria_2018[food_algeria_2018['Element'] == 'Import Quantity']
food_algeria_import_quantity[['Y2018']].sum()

                                     Element     Y2018
0              Total Population - Both sexes  42228.00
1                   Domestic supply quantity      0.00
2              Food supply (kcal/capita/day)   3322.00
3     Protein supply quantity (g/capita/day)     91.83
4         Fat supply quantity (g/capita/day)     77.28
...                                      ...       ...
1308                                    Food     82.00
1309     Food supply quantity (kg/capita/yr)      1.93
1310           Food supply (kcal/capita/day)      2.00
1311  Protein supply quantity (g/capita/day)      0.06
1312      Fat supply quantity (g/capita/day)      0.03

[1313 rows x 2 columns]

Y2018    36238.29
dtype: float64

In [41]:
foodsheet['Area'].unique()

array(['Algeria', 'Angola', 'Benin', 'Botswana', 'Burkina Faso',
       'Cabo Verde', 'Cameroon', 'Central African Republic', 'Chad',
       'Comoros', 'Congo', "C�te d'Ivoire", 'Djibouti', 'Egypt',
       'Eswatini', 'Ethiopia', 'Ethiopia PDR', 'Gabon', 'Gambia', 'Ghana',
       'Guinea', 'Guinea-Bissau', 'Kenya', 'Lesotho', 'Liberia',
       'Madagascar', 'Malawi', 'Mali', 'Mauritania', 'Mauritius',
       'Morocco', 'Mozambique', 'Namibia', 'Niger', 'Nigeria', 'Rwanda',
       'Sao Tome and Principe', 'Senegal', 'Seychelles', 'Sierra Leone',
       'South Africa', 'Sudan', 'Sudan (former)', 'Togo', 'Tunisia',
       'Uganda', 'United Republic of Tanzania', 'Zambia', 'Zimbabwe'],
      dtype=object)